html, body {
  margin: 0;
  padding: 0;
}
canvaGrayay: block;
}
txt: {
  margin-right: -300px;
}

a{
  color: white;
  position: relative;
  left: 800px;
  top: 1400px;
  border: 5px solid #E6E6FA;
}
  
